.profile-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 1em 0.5em;
  // background-color: red;
  border-bottom: 1px solid #d4d4d4 !important;

  &:hover {
    cursor: pointer;
    background-color: $border-gray;
  }
  .profile-head {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 0 0 0 0.4em;
    // display: none;
    // background-color: red;
  }
  .profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 0.4em;
    min-height: 50px;

    .title {
      font-size: 12px;
      font-family: $font-subtitle;
      color: $secondary;
      text-transform: capitalize;
    }
    .subtitle {
      font-size: $font-size-x-sm;
      color: $text-color;
    }
    .text {
      font-size: $font-size-x-sm;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 200px;
      color: $text-color;
    }
    .date {
      font-size: $font-size-x-sm;
    }
  }

  .profile-item-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: 'center';
    // margin: 0 0 0 0.4em;
    height: 70px;

    span {
      img {
        height: 30px;
      }
      .call {
        height: 20px;
      }
    }
    // .cha-delete-btn {
    //   svg {
    //     fill: #545454 !important;
    //   }
    // }
    // svg {
    //   fill: $primary;
    //   // fill: #545454;
    // }
  }
}
.selected {
  background-color: whitesmoke !important;
}
